@media (min-width: 1000px) {
    .trip-text a {
        font-size: 1.4rem;
        width: 350px;
    }

    .col-md-7 h2 {
        font-size: 1.8rem;
    }

    .offering-h2 {
        font-size: 2.3rem;
    }

    .proof-header h2 {
        font-size: 2.2rem;

    }

    .proof-header p {
        font-size: 1.5rem;

    }

    .avatar {
        width: 100px;
        height: 80px;
    }

    .avatar {
        width: 140px;
        height: 140px;
    }

    .name {
        font-size: 1.6rem;

    }

    .name span {
        font-size: 1.3rem;
    }

    blockquot {
        font-size: 1.3rem;
    }











}