@media (min-width: 37.5em) {
  #logo-img {
    min-width: 140px;
  }

  #menu {
    display: none;
    /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
    position: absolute;
    top: 2rem;
    right: 0.8rem;
    padding-top: 1rem;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
    max-width: 250px;
    font-size: 1.1rem;
  }



  .logo {
    display: flex;
  }

  #logo-img {
    margin: 1rem;
  }

  .home-header {
    font-size: 1.5rem;
    padding-top: 15px;
  }

  .home-header h1 {
    font-size: 2.3rem;
    margin: 0;
  }

  .home-header p {
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }

  .carousel-item img {
    height: 600px;
  }

  .subscribe-section h2 {
    font-size: 2.3rem;
  }

  #subscribe-form input,
  #subscribe-form button {
    font-size: 1.3rem;
  }

  #subscribe-form button {
    padding: 1.2rem;
  }

  .trip-text p:last-of-type {
    font-size: 1.4rem;
  }

  .trip-text p:first-child {
    font-size: 2.3rem;
  }

  .trip-text a {
    font-size: 1.2rem;
    width: 300px;
  }

  .trip-section {
    margin-bottom: 2.5rem;
  }

  .lh-1 {
    font-size: 1.6rem;
  }

  .lead {
    font-size: 1.4rem;
  }

  .mx-auto {
    padding-top: 0;
  }

  .col-md-7 h2 {
    font-size: 1.4rem;
  }

  .offering-h2 {
    font-size: 2rem;
  }

  .col-md-5 {
    margin-top: 1rem;
  }

  .proof-header h2 {
    font-size: 2.3rem;

  }

  .proof-header p {
    font-size: 1.3rem;

  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  .name {
    font-size: 1.5rem;

  }

  .name span {
    font-size: 1.2rem;
  }

  blockquote {
    font-size: 1.2rem;
  }

  .site-footer {
    padding: 3rem 5rem;
    gap: 2rem;
    font-size: 1.3rem;
  }

  .site-footer>div {
    flex: 1 1 500px;
    min-width: 220px;
  }

  .footer-logo img {
    width: 90px;
  }

  .footer-copy {
    font-size: 1.2rem;
    padding-top: 2rem;
  }



  /* About Page */

  .adventure-figure {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-heading h1 {
    font-size: 2.5rem;
  }

  .about-content h2 {
    font-size: 1.9rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }

  .adventure-section h2 {
    font-size: 1.9rem;
  }

  .adventure-figure figcaption {
    font-size: 1.5rem;

  }




  /* Contact Page */

  .contact-h1 {
    font-size: 2.3rem;
  }

  .company-info h2 {
    font-size: 1.6rem;
  }

  .contact-form h3 {
    font-size: 1.6rem;
  }

  .company-info .address p,
  .company-info .phone p,
  .company-info .email p {
    font-size: 1.3rem;
  }

  .address p:first-child,
  .phone p:first-child,
  .email p:first-child {
    font-size: 1.4rem;
    padding: .5rem 0;
  }

  .wf1 label {
    font-size: 1.4rem;
  }

  .wf1 input[type="text"],
  .wf1 input[type="tel"],
  .wf1 input[type="email"],
  .wf1 input[type="number"] {
    height: 60px;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .wf1 input[type="submit"] {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  /* Trip Page */

 .trip-description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 }
  .trip-item img {
    height: 300px;
  }

  section.call-to-action h1 {
    font-size: 1.8rem;
  }

  .trip-item h3 {
    font-size: 1.5rem;
  }

  .trip-item p {
    font-size: 1.3rem;
  }



}

@media (min-width: 800px) {
  .navigation a {
    font-size: 1.4rem;
  }
}